body {
  font-family: cursive,'Open Sans', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto 0 auto;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 40px;
  color: #323648;
  margin-bottom: 20px;
}

header {
  border-bottom: 1px solid #ebebeb;
}

header img {
  height: 30px;
  padding: 20px 0;
}

nav {
  display: inline-block;
  float: right;
  padding: 25px 0;
}

.border-link {
  border: 1px solid #6d6f7b;
  padding: 5px 10px;
  border-radius: 5px;
}

.border-link:hover {
  color: #3f46ad;
  border-color: #9ba0d3;
}

.c-button {
  display: block;
  margin: 30px 200px;
  border: 1px solid #1c299d;
  padding: 10px 100px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: normal;
}

.c-button:hover{
  border: solid #1c299d;
}
